repos:
  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: clang-format
        entry: clang-format -i
        args: ["--style=file", "--fallback-style=none"]
        files: \.(c|cpp|h|hpp)$
